<!DOCTYPE html>
<!-- {%load static%} -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>link sphere</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="./css/index.css">
</head>
<body>

    <div class="menu">
        <a href="{%url 'index'%}"><img src="./images/linkspherena.png" alt="Logo=" width="100" class="ms-5"></a>
        <hr class="border border-light border-2 ms-3">
        <ul class="menu-content">
            <li><a href="{%url 'index'%}"><span class="material-symbols-outlined">home</span><span>Home</span></a></li>
            <li><a href="{%url 'upload-post'%}"><span class="material-symbols-outlined">add</span><span>Create</span></a></li>
            <li><a href="{%url 'profile-list'%}"><span class="material-symbols-outlined">search</span><span>Users</span></a></li>
            <li><a href="#"><span class="material-symbols-outlined">settings</span><span>Settings</span></a></li>
            <li><a href="{%url 'profile-details' request.user.profile.id%}"><span class="material-symbols-outlined">person</span><span>Profile</span></a></li>
            <li><a href="{%url 'signout'%}"><span class="material-symbols-outlined">logout</span><span>Logout</span></a></li>
        </ul>
    </div>
    

    <div class="container d-flex flex-column justify-content-center align-items-center">
        <form action="" method="post" enctype="multipart/form-data">
            <div class="container rounded-pill post p-2 mt-3 d-flex justify-content-evenly">
                <!-- {%csrf_token%} -->
                <div class="me-2">

                <!-- {%if request.user.profile.profile_pic%} -->
                <!-- <img class="profile-small" src="{{request.user.profile.profile_pic.url}}" alt="Avatar"> -->

                <!-- {%else%} -->
                <img class="profile-small" src="./images/profilepic.png" alt="Avatar">

                <!-- {%endif%} -->
                </div>
                <div class="me-2">
                    <input class="load" name="post_image" type="file" id="file" accept="image/*">
                    <label class="upload d-flex justify-content-center align-items-center" style="width: 60px;" for="file"><img src="./images/upload.png" style="width: 30px;" alt=""></label>
                </div>

                <div class="me-3">
                    <input class="form-control rounded-pill" type="text" name="title" id="" placeholder="captions...">
                </div>
                <div class="">
                    <button class="btn btn-primary" type="submit">Post</button>
                </div>
            </div>
        </form>

        <!-- post section start -->
        <div class="border border-1 rounded-4 mt-4 w-50">
            <div class="ms-2 mt-2 mb-2">
                <img class="profile-small" src="images/profilepic.png" alt="Avatar">
                username, Uploaded date
            </div>
            <div>
                <img src="images/sample.jpg" class="h-auto w-100" alt="">
            </div>
            <div class="ms-2 mt-2 mb-2 d-flex align-items-start">
                <div class="d-block flex-column">
                    <div>
                        <i class="fa-solid fa-heart fs-4 text-danger btn"></i>
                    </div>
                    <div>
                        <span class="ms-2 spa">Like</span>
                    </div>
                </div>
                <div class="d-block flex-column">
                    <div>
                        <i class="fa-solid fa-heart-crack fs-4 text-danger btn"></i>
                    </div>
                    <div>
                        <span class="ms-2 spa">Dislike</span>
                    </div>
                </div>
                <div class="d-block flex-column">
                    <div>
                        <i class="fa-solid fa-comment-dots fs-4 text-secondary btn"></i>
                    </div>
                    <div>
                        <span class="ms-2 spa">comment</span>
                    </div>
                </div>
                <div class="d-block flex-column">
                    <div>
                        <i class="fa-solid fa-location-arrow fs-4 btn"></i>
                    </div>
                </div>

            </div>
            <hr class="ms-3 me-3">
            
            <div class="p-2 ms-2">
                Captions, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Vel provident amet iure asperiores impedit vitae accusantium. Repellat sit aut, adipisci eius, necessitatibus ex, numquam perspiciatis voluptatem iste molestiae omnis consectetur!
            </div>
            <div class="d-flex align-items-center mb-4 p-3">
                <div>
                    <img class="profile-xsmall" src="images/profilepic.png" alt="">
                </div>
                <div class="ms-2 comment form-control rounded-end-0 border-0">
                    <input type="text" name="" id="" placeholder="Message .........." class="border-0 w-100">
                </div>
                <div>
                    <button class="btn btn-secondary rounded-start-0">Post</button>
                </div>
            </div>
        </div>

        
        <!-- post section end -->
    </div>
</body>
</html>